html, body{
    height:100% !important; 
    margin: 0px !important;
    padding: 0px !important;
}
body{
    /* Novo */
    display: flex !important;
    flex-direction: column !important;
    /* Antigo */
    background:#fffcfd
}

header{
    background-color:#591e29;

}
.conteudo{
    flex: 1 0 auto !important;
}
#login{
    display: none;
}
#CDD2EC
F2DCF2
#f7e4e4


.ttopo{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ttopo h1{
    background: url(../img/logos.svg)no-repeat center ;
    width: 200;
    margin: 0;
    height: 55px;
    text-indent: -9999px;
}


.topo nav ul{
   /* display: flex; */
    /* justify-content: space-between; */
    list-style: none;
    background: #591e29;
    text-align: center;
    padding: 0;
    margin: 0;
}
.topo nav ul li{
    display: inline-block;
    padding: 20px 20px;
    margin: 0 15px;
}
.topo nav ul li a:hover{
    color: #000000;
    
}

.topo nav ul li a{
    font-size: 22px;
    text-decoration: none;
    color: #ffffff;
    display: block;
    font-size: 12px;
    /* font-family: helvetica,arial; */
    font-family: "Martel Sans",sans-serif
}



/* submenu */
.dropbtn {
    list-style: none;
    background: #591e29;
    color: #fff;
    text-align: center;
    padding: 0;
    margin: 0;
    text-decoration: none;
    border: none;
    font-family: "Martel Sans",sans-serif
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    /* background-color: #f1f1f1; */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #fff;
    opacity: 0.9;
    background: #591e29;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #591e29;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  
/* fim submenu */
    /*MENU*/

    
/* INIO BANNER */
.carousel {

    height: 550px;

    perspective: 400px;



}

.carousel .carousel-item {

    width: 70%;

}

.carousel .carousel-item img {

    width: 100%;
    height: 100%;


}

/* FIM BANNER */
.joias{
    padding: 40px;
    text-align: center;
    
}
.joias h2{
   text-align: center;
   text-indent: -99999px;
}
.joiasl{
    display: flex;
    

    justify-content: space-around;
    max-width: 1200px;/*largura maxima do site*/
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap

}
.joiasl h3{
    top: o;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20;
}
.joiasl {
   /*background: #fffcfd;*/
}
.joiasl article{
    box-shadow: 1px 1px 1px 1px #fffcfd; /*sombra*/
    
   

}
.joias article img{
    width: 100%;
    border-radius: 3px 3px 0 0;
    
}
.joias article img:hover{
   /* opacity: 0.5 ;*//*opacidade*/
    border-color: #591e29;
    -webkit-transform:scale(1.20);/*zoom*/
    padding: 15px;
    
    
}
.joias article:hover img{

}
/* max-width:largura maxima do site*/
/*.joiasld{
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;    
}*/
/*FIM MENU*/
    /* MENU FIXO */
.menu-fixo{
    position:fixed;
    top: 0;
    z-index: 99999; 
    width: 100%;
    background: #591e29;
    
    animation: fadeIn 5s ease-in-out;
    /* animation: FadeIn 5s ease-in; */
}

    /* FIM MENU FIXO */


/*PRODUTOS NOVIDADES*/
.slick-slide img {
    width: 130.99px;
}/*definir a largura da imagem das novidades*/


.novidades{
    padding: 20px;/*gerar espaço em torno do conteúdo de um elemento,*/
    background: #ffffff
}
.novidades h2{
 text-indent: -99999px;
}

.linha {
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: #591e29;
    max-width: 1200px;
    margin: 0 auto;
  }
  .linha::before,
  .linha::after {
    content: '';
    flex: 1;
    border-bottom: 1.5px solid #591e29;
    
    
  }
  .linha::before {
    margin-right: .25em;

  }
  .linha::after {
    margin-left: .25em;/*espaçamento entre novidades e a linha*/
   
    
  }

.novi{
    width: 100%;
    padding: 20px;
    background: #ffffff;
   
}
.novi a img{
    height:198px ;/*altura*/
    width:198px;  
    max-width: 1200px;
    margin: 0 auto;  
    
}

.novi p{    
    text-align: center;  
    background: #ffffff;
    max-width: 198px center;
    padding: 0PX 5PX 5PX 0PX;
    font-size: 18px;
    margin: 30px
   
}

.novi img{
    background: #000000
}
.novi a {
    display: block;
    width: 110px;
    height: 30px;
    margin: 0 auto;
    line-height: 28px;
    text-decoration: none;
    background: #591e29;
    color:#ffffff;
    border-radius: 5px;
    text-align: center;
    opacity: 1.50
}

/*COMENTARIOS*/
.comentarios{
    background: #fffcfd;
    padding: 30px;
    text-align: center;
    max-width: 1200;
    margin: 0 auto;
    
   
}
.comentariosTr{
    display: flex;
    justify-content: space-between;
    display: flex;
    justify-content: space-between;
    display: flex;
    justify-content: space-around;
    max-width: 1200px;/*largura maxima do site*/
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap
    
}
.comentariosTr article{
    background: #DED5D9;
    padding:30px 60px ;
    border-radius: 5px ;
    margin: 30px;
    box-shadow: 3px 3px 3px  #8C7779;
    
}
.comentariosTr article p{
    color:#591e29 ;
    font-size:20px ;
}
.comentariosTr article h2{
    color: #591e29;
    padding: 15px;
    font-size: 12px;
    
}

/*instagram*/
.sobreinsta p{
    text-align: center;
    padding: 20px;
    margin: 20px;
    font-size: 20px;
    color: #591e29;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*rodape*/
.rodape{
    flex-shrink: 0;
    background: #DED5D9;
    padding: 10px;
    text-align: center;
    border-top: #8C7779 5px;
}
.rodape img{
    width: 12%;
    height: 6%;
}
.rodape p{
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #591e29;
}
.facebook{
    background: url(../img/icon/facebook-32.png)no-repeat;
    
}
.instagram{
    background: url(../img/icon/instagram-32.png)no-repeat
}
.youtube{
    background: url(../img/icon/youtube-ao-quadrado-32.png)no-repeat

}
.iconesRedes li{
    display: inline-block;
    margin: 7px;
}

.iconesRedes a{
    width: 32px;
    height: 32px;
    display: block;
    text-indent: -99999px;
    margin: 9px 0 0 0;
}

.direitos{
    background: #591e29;
    color: #fffcfd;
    text-align: center;    
    padding: 5px;
    margin: 0;
    font-size: 13px !important;
}
/* PAGINA SOBRE */
.sobre{
max-width: 1200px;
margin: 0 auto; 
align-items: center;
align-content: center;
text-align: center;
justify-content: center;
justify-items: center;
justify-self: center;

}
.sobre p{
    font-family: "Cormorant Garamond";
    font-size: 38px;
    letter-spacing: 7.8px;
    /* text-align: right; */
    max-width: 1200px;
    margin-top: 31px;
}
.sobre div{
    display: flex;
    justify-content: space-around;
    align-content: center;
    text-align: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    padding: 3%;
    font-size: 20px;
    font-family: "Cormorant Garamond";
    
    
}
.imgContato article{
    display: flex;
    justify-content: space-around;
    align-content: center;
    /* justify-content: center;
    justify-content: center; */
    justify-items: center;
    justify-self: center;
    padding: 7%;
    font-size: 20px;
    font-family: "Cormorant Garamond";
}
.sobre h2{
    font-size: 20px;
    padding: 10px;
    
}
.sobreNos p{
    text-align: justify;
    font-size: 20px;
    font-family: "Cormorant Garamond";
    
    width: 600px;
    height: 550px;
   
}
.sobreNos img{
    
    display: flex;
    
    width: 250px;
    height:200px;
    border-radius:4px;
    margin: -27px;
    
}
.sobreNos a img:hover{
    opacity: 0.7;
}
.box-shadow-demo {
    width: 600px;
    height: 200px;
    background: transparent;
    box-shadow: 10px 10px 15px #591e29;
    text-align:center;
    font-size:20px;
    padding: 36px 30px 0;
    width: 500px;
    height: 450px;
    

}
/* box-shadow: 13px 13px  10px #591e29;
box-shadow: 13px 13px  10px #591e29;
background:url(../img/sobre.jpg)no-repeat ; */
/* FIM PAGINA SOBRE */

/*pagina aneis*/
.bannerjo{
    background: url(../img/anel.png)no-repeat center;
    width: 2000px;
    height: 220px;
    text-indent: -9999px;
}



.anel{
    padding: 40px;
    text-align: center;
}
.aneli{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;/*largura maxima do site*/
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap
}
.aneli article:hover{
    opacity: 0.5;
    border: #591e29;
}
.aneli article img{
    width: 100%;
    border-radius: 3px 3px 0 0;
    
}
.aneli p{
    text-align: center;  
    background: #ffffff;
    max-width: 198px center;
    padding: 0PX 7PX 7PX 0PX;
    font-size: 18px;
    margin: 30px
}
.aneli a {
    display: block;
    width: 110px;
    height: 30px;
    margin: 0 auto;
    line-height: 28px;
    text-decoration: none;
    background: #591e29;
    
    color:#ffffff;
    border-radius: 3px;
    text-align: center;
    opacity: 1.50
}
.aneli article p a{
    background: #ffffff
}
/*fim pagina aneis*/


/*pagina joias*/
.produtjo{
    padding: 40px;
    text-align: center;
}
.produtjoi{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;/*largura maxima do site*/
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap
}
.produtjoi article:hover{
    opacity: 0.5;
    border: #591e29;
}
.produtjoi article img{
    width: 100%;
    border-radius: 3px 3px 0 0;
    
}
.produtjoi p{
    text-align: center;  
    background: #ffffff;
    max-width: 198px center;
    padding: 0PX 7PX 7PX 0PX;
    font-size: 18px;
    margin: 30px
}
.produtjoi a {
    display: block;
    width: 110px;
    height: 30px;
    margin: 0 auto;
    line-height: 28px;
    text-decoration: none;
    background: #591e29;
    
    color:#ffffff;
    border-radius: 3px;
    text-align: center;
    opacity: 1.50
}
.produtjoi article p a{
    background: #ffffff
}
/*fim pagina joias*/

/*pagina brincos*/
.bannerjo{
    background: url(../img/brinco.png)no-repeat center;
    width: 2000px;
    height: 220px;
    text-indent: -9999px;
}



.brincospp{
    padding: 40px;
    text-align: center;
}
.brincosppp{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;/*largura maxima do site*/
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap
}
.brincosppp article:hover{
    opacity: 0.5;
    border: #591e29;
}
.brincosppp article img{
    width: 100%;
    border-radius: 3px 3px 0 0;
    
}
.brincosppp p{
    text-align: center;  
    background: #ffffff;
    max-width: 198px center;
    padding: 0PX 7PX 7PX 0PX;
    font-size: 18px;
    margin: 30px
}
.brincosppp a {
    display: block;
    width: 110px;
    height: 30px;
    margin: 0 auto;
    line-height: 28px;
    text-decoration: none;
    background: #591e29;
    
    color:#ffffff;
    border-radius: 3px;
    text-align: center;
    opacity: 1.50
}
.brincosppp article p a{
    background: #ffffff
}
/*fim pagina brincos*/



/* inicio pagina contato */
.imgCon{
    text-align: initial;
    text-align: -webkit-center;

}
.imgContato {
    
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
    /* justify-content: space-around; */
    /* position: absolute; */
}
.imgCon img{
    width: 430px;
    height: 215px;
    position: relative;
    
    
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    
    
}
.formCon{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    box-sizing: border-box;
    outline: none;
    font-family: 'Poppins', sans-serif;
    /* background: #111 */
}
.formCon{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    box-sizing: border-box;
    outline: none;
    font-family: 'Poppins', sans-serif;
    /* background: #111 */
}
.box-shadow-demoo {
    display: block !important  ;
    width: 300px;
    height: 300px !important;
    
    background: #fff;
    font-size:16px;
    padding: 36px 30px 0;
    position: relative;
    margin-top: -146px;
    text-align: justify;
    opacity: 0.9;
    

}
.imgCon h4{
    TEXT-ALIGN: initial;

}
.imgContato h4{
    text-align: -webkit-center;
    
    font-size: 24px;
    color: #591e29;
}
.input-field{
    position: relative;
    height: 40px;
    width: 100%;
    margin: 0 0 35px 0;
    outline: none;
}
.input-field input[type="text"]{
    position: absolute;
    background: transparent;
    border: none;
    box-shadow: none;
    font-size: 16px;
     color: #000;
     width: 100%;
     outline: none;
}
.input-field textarea[name="mens"]{
    position: absolute;
    background: transparent;
    border: none;
    box-shadow: none;
    font-size: 16px;
     color: #000;
     width: 100%;
     outline: none;
}
.input-field textarea[name="mensCli"]{
    position: absolute;
    background: transparent;
    border: none;
    box-shadow: none;
    font-size: 16px;
     color: #0000;
     width: 100%;
     outline: none;
}
.input-field input[type="email"]{
    position: absolute;
    background: transparent;
    border: none;
    box-shadow: none;
    font-size: 16px;
     color: #000;
     width: 100%;
     outline: none;
}
.input-field input[type="password"]{
    position: absolute;
    background: transparent;
    border: none;
    box-shadow: none;
    font-size: 16px;
     color: #000;
     width: 100%;
     outline: none;
}
.input-field input[type="tel"]{
    position: absolute;
    background: transparent;
    border: none;
    box-shadow: none;
    font-size: 16px;
     color: #000;
     width: 100%;
     outline: none;
}
.input-field label{
    position: absolute;
    top: 0;    
    left: 0;
    color: #591e29;
    pointer-events: none;
    transition: 0.5s;
}
.input-field input[type="text"]:focus + label,
.input-field input[type="text"]:valid + label

{
    transform: translateY(-35px);
    font-size: 14px;
    color: #591e29;
    /* background: #DED5D9; */
    padding: 2px 6px;
}
.input-field input[type="tel"]:focus + label,
.input-field input[type="tel"]:valid + label

{
    transform: translateY(-35px);
    font-size: 14px;
    color: #591e29;
    /* background: #DED5D9; */
    padding: 2px 6px;
}
.input-field input[type="email"]:focus + label,
.input-field input[type="email"]:valid + label

{
    transform: translateY(-35px);
    font-size: 14px;
    color: #591e29;
    /* background: #DED5D9; */
    padding: 2px 6px;
}
.input-field input[type="password"]:focus + label,
.input-field input[type="password"]:valid + label

{
    transform: translateY(-35px);
    font-size: 14px;
    color: #591e29;
    /* background: #DED5D9; */
    padding: 2px 6px;
}
.input-field textarea[name="mens"]:focus + label,
.input-field textarea[name="mens"]:valid + label

{
    transform: translateY(-35px);
    font-size: 14px;
    color: #591e29;
    /* background: #DED5D9; */
    padding: 2px 6px;
}
.input-field textarea[name="mensCli"]:focus + label,
.input-field textarea[name="mensCli"]:valid + label

{
    transform: translateY(-35px);
    font-size: 14px;
    color: #591e29;
    /* background: #DED5D9; */
    padding: 2px 6px;
}
.input-field span{
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    background: #591e29;
    width: 100%;
    height: 2PX;
}
.input-field span:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #591e29;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;


}

.input-field input[type="text"]:focus ~ span:before,
.input-field input[type="text"]:valid ~ span:before
{
    
    transform: scaleX(1);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
}
.input-field input[type="tel"]:focus ~ span:before,
.input-field input[type="tel"]:valid ~ span:before
{
    
    transform: scaleX(1);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
}
.input-field input[type="email"]:focus ~ span:before,
.input-field input[type="email"]:valid ~ span:before
{
    
    transform: scaleX(1);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
}
.input-field input[type="password"]:focus ~ span:before,
.input-field input[type="password"]:valid ~ span:before
{
    
    transform: scaleX(1);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
}
.input-field textarea[name="mens"]:focus ~ span:before,
.input-field textarea[name="mens"]:valid ~ span:before
{
    
    transform: scaleX(1);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
}
.input-field textarea[name="mensCli"]:focus ~ span:before,
.input-field textarea[name="mensCli"]:valid ~ span:before
{
    
    transform: scaleX(1);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
}
.btn{
    margin-top: 20px;
    border: none;
    box-shadow: none;
    padding: 10px 25px;
    background: transparent;
    color: #591e29;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #591e29;
    border-radius: 20px;
    margin: 10px;
}
.btnx{
    margin-top: 20px;
    border: none;
    box-shadow: none;
    /* padding: 10px 25px; */
    background: transparent;
    color: #591e29;
    font-size: 16px;
    cursor: pointer;
    /* border: 1px solid #591e29; */
    border-radius: 20px;
    margin: 10px;
}
.btn:hover{
    background: #591e29;
    color: #fff;
}


.btnc{margin-top: 20px;
    border: none;
    box-shadow: none;
    padding: 10px 25px;
    background: transparent;
    color: #591e29;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid rgb(71, 41, 41);
    border-radius: 20px;
}
.btnc:hover{
    background: #fff;
    color: #591e29;
}
.Container{
    margin-top: -86px;
    position: relative;
    width: 500px;
    padding: 40px;
    background: #fff;
    opacity: 0.9;
    /* margin-top: -299px; */
    margin-top: 10px;
    Margin: -27px;
    box-shadow: 0 0 25px #591e29;
}
.Containercont{
    margin-top: -86px;
    position: relative;
    width: 500px;
    padding: 40px;
    background: #fff;
    opacity: 0.9;
    /* margin-top: -299px; */
    margin-top: 10px;
    Margin: -27px;
    box-shadow: 0 0 25px #591e29;
}


/* fim pagina contato */
/*orcamento*/
.Containerinfo h2{
    text-align: center;
    font-size: 20px;
    color: #591e29;
}
.Containerinfo p{
    text-align: center;
    font-size: 10px;
    color: #591e29 
}



.Containeror{
    
    position: relative;
    width: 500px;
    padding: 40px;
    
    
    
}
.input-fieldo{
    position: relative;
    height: 40px;
    width: 100%;
    margin: 0 0 35px 0;
    outline: none;
}
.input-fieldo input[type="text"]{
    position: absolute;
    background: transparent;
    border: none;
    box-shadow: none;
    font-size: 16px;
     color: #000;
     width: 100%;
     outline: none;
}
.input-fieldo textarea[name="mens"]{
    position: absolute;
    background: transparent;
    border: none;
    box-shadow: none;
    font-size: 16px;
     color: #000;
     width: 100%;
     outline: none;
}
.input-fieldo textarea[name="mensCli"]{
    position: absolute;
    background: transparent;
    border: none;
    box-shadow: none;
    font-size: 16px;
     color: #000;
     width: 100%;
     outline: none;
}
.input-fieldo input[type="email"]{
    position: absolute;
    background: transparent;
    border: none;
    box-shadow: none;
    font-size: 16px;
     color: #000;
     width: 100%;
     outline: none;
}
.input-fieldo input[type="password"]{
    position: absolute;
    background: transparent;
    border: none;
    box-shadow: none;
    font-size: 16px;
     color: #000;
     width: 100%;
     outline: none;
}
.input-fieldo input[type="tel"]{
    position: absolute;
    background: transparent;
    border: none;
    box-shadow: none;
    font-size: 16px;
     color: #000;
     width: 100%;
     outline: none;
}
.input-fieldo label{
    position: absolute;
    top: 0;    
    left: 0;
    color: #591e29;
    pointer-events: none;
    transition: 0.5s;
}
.input-fieldo input[type="text"]:focus + label,
.input-fieldo input[type="text"]:valid + label

{
    transform: translateY(-35px);
    font-size: 14px;
    color: #591e29;
    /* background: #DED5D9; */
    padding: 2px 6px;
}
.input-fieldo input[type="tel"]:focus + label,
.input-fieldo input[type="tel"]:valid + label

{
    transform: translateY(-35px);
    font-size: 14px;
    color: #591e29;
    /* background: #DED5D9; */
    padding: 2px 6px;
}
.input-fieldo input[type="email"]:focus + label,
.input-fieldo input[type="email"]:valid + label

{
    transform: translateY(-35px);
    font-size: 14px;
    color: #591e29;
    /* background: #DED5D9; */
    padding: 2px 6px;
}
.input-fieldo textarea[name="mens"]:focus + label,
.input-fieldo textarea[name="mens"]:valid + label

{
    transform: translateY(-35px);
    font-size: 14px;
    color: #591e29;
    /* background: #DED5D9; */
    padding: 2px 6px;
}
.input-fieldo textarea[name="mensCli"]:focus + label,
.input-fieldo textarea[name="mensCli"]:valid + label

{
    transform: translateY(-35px);
    font-size: 14px;
    color: #591e29;
    /* background: #DED5D9; */
    padding: 2px 6px;
}
.input-fieldo span{
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    background: #591e29;
    width: 100%;
    height: 2PX;
}
.input-fieldo span:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #591e29;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;


}

.input-fieldo input[type="text"]:focus ~ span:before,
.input-fieldo input[type="text"]:valid ~ span:before
{
    
    transform: scaleX(1);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
}
.input-fieldo input[type="tel"]:focus ~ span:before,
.input-fieldo input[type="tel"]:valid ~ span:before
{
    
    transform: scaleX(1);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
}
.input-fieldo input[type="email"]:focus ~ span:before,
.input-fieldo input[type="email"]:valid ~ span:before
{
    
    transform: scaleX(1);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
}
.input-fieldo textarea[name="mens"]:focus ~ span:before,
.input-fieldo textarea[name="mens"]:valid ~ span:before
{
    
    transform: scaleX(1);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
}
.input-fieldo textarea[name="mensCli"]:focus ~ span:before,
.input-fieldo textarea[name="mensCli"]:valid ~ span:before
{
    
    transform: scaleX(1);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
}

/* fim orcamento*/

/*INICIO COLARES */
/*MEXER COM OS TAMANHOS DAS FONTES */

.btn-primary {
    color: #591e29;
    background-color: #ffffff;
    border: 1px solid #591e29;
    border-radius: 20px;
    margin-top: 30px;
}
.caption.text-center p{
    color: black;
    /* margin: 15px;
     overflow: hidden; */
     margin: 0px auto 54px;
    font-family: "Roboto";
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.43;
    letter-spacing: 3.1px;
    margin: 0 auto 7px;
    max-width: 220px;
    text-align: center;

    
}


.caption.text-center a:hover {
   /*display: block;*/
    text-decoration: none;
}

/*zoom mouse*/
.caption.text-center{
    overflow: hidden;
}
.caption.text-center img{
    max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.caption.text-center:hover img {
-moz-transform: scale(1.9);
-webkit-transform: scale(1.1);
transform: scale(1.1);
}
/**/

.thumbnail {
    display: block ;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fffcfd;
    border: 1px solid #fffcfd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    max-width: 1200px; 
    width: 270px;
    height: 360px;
    text-align: center;
    
}
.btn-primary:hover{
    background-color: #591e29;
    color: #fff;
}
.thumbnail:hover {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #591e29;
    /* border-radius: 4px; */
  
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    text-align: center;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #591e29;
    text-decoration: none;
    background-color: #fff;
    border: 0px solid #ddd;
}
/* .col-sm-6.scol-md-4{
    width: 1000px;
    height: 10px;
}
.caption.text-center{
    width: 196px;
} */



/*FIM COLARES */



/*ZOOM*/

.detalhe div{
    display: flex;
    justify-content: center;
    text-align: center;
    
}
.container.theme-showcase{

}
#zoom {
    position: absolute;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    border-radius: 50px;
    box-shadow: 0 0 10px #591e29;
    display: none;
  }
  
  #wrapper {
    margin: 0 auto;
    width: 960px;
    max-width: 400px;
  }
  
  
  
  
  #content { text-align: center; }
  
  #view {
    margin: 30px 0;
    height: 384px;
  }
  
  #view img {
    border-radius: 4px;
    box-shadow: 0 0 10px #591e29;
  }
  
  #thumbs {
    position: relative;
    margin: 20px 0;
  }
  
  #nav-left-thumbs { left: 70px; }
  
  #nav-right-thumbs { right: 70px; }
  
  
  
 
  
  #pics-thumbs {
    position: relative;
    padding: 5px 0;
    margin: 0 35%;
    white-space: nowrap;
    overflow: hidden;
    transition-duration: .8s;
  }
  
  #pics-thumbs img {
    padding: 5px;
    margin: 0 2px;
    border-radius: 4px;
    box-shadow: 0 0 5px #591e29;
    cursor: pointer;
    height: 40px;
    transition-duration: .1s;
  }
  
  footer {
    flex-shrink: 0 !important;

    /* position: relative; */
    text-align: center;
    padding: 5px 0;
    background: #fff 5% no-repeat;
  }
  
  
  .teste div{
    display: flex;
      justify-content: space-around;
      padding: 20px;
  }
  
  
.recipiente{
    /* min-height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    overflow: hidden;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 860px;
}

.imgBanner{
    position: relative;
    width: 50%;
    height: 475px;
    box-shadow: -15px 0 35px rgba(0, 0, 0, 0.1),
    0 -15px 35px rgba(0, 0, 0, 0.1),
    0 15px 35px rgba(0, 0, 0, 0.1);
    transition: .5s;
}



@keyframes width{
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}



.info{
    width: 50%;
    min-width: 50%;
    background-color: #fff;
    height: 553px;
    z-index: 1;
    padding: 35px 40px;
    box-shadow: 15px 0 35px rgba(0, 0, 0, 0.1),
    0 -15px 35px rgba(0, 0, 0, 0.1),
    0 15px 35px rgba(0, 0, 0, 0.1);
}

.cardeNome{
    /* padding: 0 0 10px 0; */
}

.cardeNome div{
    display: flex;
    align-items: center;
    font-family: EB Garamond;
}

.cardeNome div .big{
    margin-right: 10px;
    font-size: 2rem;
    color: #333;
    line-height: 1;
}

.cardeNome div .new{
    background-color: var(--primary);
    text-transform: uppercase;
    color: #fff;
    padding: 3px 10px;
    border-radius: 5px;
    transition: .5s;
}

.cardeNome .small{
    font-weight: 500;
    color: #444;
    margin-top: 3px;
    text-transform: capitalize;
    font-family: EB Garamond;
}

.cardeNome, .description, .color-container, .size-container{
    border-bottom: 1px solid #dadada;
}
.cardeNome h1{
    text-align: inherit;
    font-weight: bold;
    font-size: 21px;
   }
.descricao{
    /* padding: 10px 0; */
}
.descricao h3{
    display: flex;
    font-size: 15px;
}
.prodTitulo{
    color: #3a3a3a;
    font-weight: 600;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: inherit;
}

.prodTexto{
    color: #555;
    font-size: 17px;
    margin: 0 0 183px 0;
}

.color-container{
    padding: 10px 0;
}

.colors{
    padding: 8px 0;
    display: flex;
    align-items: center;
}

.color{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 0 10px;
    border: 5px solid;
    cursor: pointer;
    transition: .5s;
}




.prodPaga{
    /*  */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 2;
    margin: 21% 0% 0% 28%;
    /* margin-top: 150px; */
}

.price{
    /* color: #333; */
    display: flex;
    /* align-items: flex-end; */
    position: absolute;
    z-index: 2;
    margin: 20% 0% 0% 6%;
}

/* .price h1{
    font-size: 2.1rem;
    font-weight: 600;
    line-height: 1;
    margin-top: -396px;
    /* margin: -64px; */
    /* padding: 174px; 
} */

.price i{
    font-size: 1.4rem;
    margin-right: 1px;
}

.buy{
    padding: .7rem 1rem;
    background-color: #591e29;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 1.1rem;
    transition: .5s;
    margin-top: 204px;

    /* margin-top: 20px;
    border: none;
    box-shadow: none;
    padding: 10px 96px;
    background: transparent;
    color: #591e29;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #591e29;
    border-radius: 20px;
    margin: 10px; */
    
}

.buy:hover{
    transform: scale(1.1);
}

.buy i{
    margin-right: 2px;
}






@media (max-width: 1070px){
    .radio{
        margin: 2px 0px 0px 189px;
        
    }
    
}

@media (max-width: 1024px){
    /* .card{
        /* flex-direction: column; 
        width: 100%;
        box-shadow: 0 0 35px 1px rgba(0, 0, 0, 0.2);
    }
    
    .card > div{
        width: 100%;
        box-shadow: none;
        
    }    
    .imgBanner{
        height: 721px;
    }
    .prodPaga{
        margin: -7% 38% 0% -2%;
        justify-content: flex-end;
    }
    .price{        
        margin: 60% 0% 0% -83%;
        justify-content: flex-end;
    }
    .info{
        height: 400px;
    } */
    /* .imgContato article {
        display: flex;
        justify-content: space-around;
        align-content: center;
        justify-items: center;
        justify-self: center;
        padding: 1%;
        font-size: 20px;
        font-family: "Cormorant Garamond";
    } */
    .row {
        max-width: 370px;
        margin-right: 28px;
        display: inline;
    }
    .btn{
        font-size: inherit;
    }
}

@media (max-width: 1000px){
    .card{
        /* flex-direction: column; */
        width: 100%;
        box-shadow: 0 0 35px 1px rgba(0, 0, 0, 0.2);
    }
    
    .card > div{
        width: 100%;
        box-shadow: none;
    }  

    .imgBanner{
        height: 314px;
    }
    .prodPaga{
        margin: 54% 0% 0% -2%;
        justify-content: flex-end;
    }
    .price{        
        margin: 50% 0% 0% -77%;
        justify-content: flex-end;
    }
    .info{
        height: 504px;
    }
    /* .imgContato article {
        display: flex;
        justify-content: space-around;
        align-content: center;
        justify-items: center;
        justify-self: center;
        padding: 1%;
        font-size: 20px;
        font-family: "Cormorant Garamond";
    } */
}

@media (max-width: 600px){
    .card{
        flex-direction: column;
        width: 100%;
        box-shadow: 0 0 35px 1px rgba(0, 0, 0, 0.2);
    }
   
    .imgBanner{
        height: 314px;
    }
    /* .imgContato article{
        DISPLAY: GRID;
    } */
    .Container{
        WIDTH: 98%;
    }
    /* .imgContato article {
        display: flex;
        justify-content: space-around;
        align-content: center;
        justify-items: center;
        justify-self: center;
        padding: 1%;
        font-size: 20px;
        font-family: "Cormorant Garamond";
    } */
    .row {
        max-width: 370px;
        margin-right: 28px;
        display: inline;
    }
}
@media (max-width: 768px){
   
    .imgBanner{
        height: 314px;
    }
    /* .imgContato article{
        DISPLAY: GRID;
    } */
    .Container{
        WIDTH: 98%;
    }
    /* .imgContato article {
        display: flex;
        justify-content: space-around;
        align-content: center;
        justify-items: center;
        justify-self: center;
        padding: 1%;
        font-size: 20px;
        font-family: "Cormorant Garamond";
    } */
    .imgCon img{
        width: 350px;
        height: 215px;
        position: relative;
        
        
        text-align: center;
        align-content: center;
        align-items: center;
        justify-content: center;
        justify-items: center;
        
        
    }
    .Container{
        margin-top: -86px;
        position: relative;
        width: 350px;
        padding: 40px;
        background: #fff;
        opacity: 0.9;
        /* margin-top: -299px; */
        margin-top: 10px;
        Margin: -27px;
        box-shadow: 0 0 25px #591e29;
        height: 335px;
    }
    .row {
        max-width: 370px;
        margin-right: 28px;
        display: inline;
    }
    .buy{
        margin: 20px 144px 10px -23px;
    }
}

@media (max-width: 490px){
    

    .cardeNome div .big{
        font-size: 1.3rem;
    }

    .prodTitulo{
        font-size: .9rem;
    }

    .prodTexto{
        font-size: .8rem;
    }

    .buy{
        padding: .5rem .8rem;
        font-size: .8rem;
    }

    .price h1{
        font-size: 1.5rem;
    }

    .price i{
        font-size: .9rem;
    }

    
    .info{
        padding: 20px;
    }

    .prodPaga {
        padding-top: 232px;
    }
    .prodPaga{
        margin: 54% 0% 0% -6%;
        justify-content: flex-end;
    }
    .price{        
        margin: 79% 0% 0% -69%;
        justify-content: flex-end;
    }
    .buy{
        margin: 274px 122px 10px -23px;

    }
    .info{
        height: 484px;
    }
  .imgContato article{
      display: grid;
  }
}

@media (max-width: 414px){
    .buy i{
        display: none;
    }
    .prodPaga{
        padding-top: 228px;
    }

    .container{
        padding: 20px;
    }
    .thumbnail{
        display: block ;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fffcfd;
    border: 1px solid #591e29;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    max-width: 1200px; 
    width: 270px;
    height: 400px;
    text-align: center;
    }
    /* .btnb {
        
        color: #fff;
        background-color: #591e29;
        border: 1px solid #591e29;
        border-radius: 20px;
        margin-top: 30px;
      }
      .thumbnail:hover .btnb {
        
        color: #fff;
        background-color: #591e29; 
         border: 1px solid #591e29;
        border-radius: 20px;
        margin-top: 30px;
    } */
    .imgContato article{
        display: grid;
    }
    .Container{
        WIDTH: 106%;
    }
    .Containercont{
        width: 96%;
    }
    .row{
        max-width: 370px;
        margin-right: 28px;
        display: inline;
    }
    .btn {
        margin-top: 20px;
        border: none;
        box-shadow: none;
        padding: 10px 25px;
        background: transparent;
        color: #591e29;
        font-size: 12px;
        cursor: pointer;
        border: 1px solid #591e29;
        border-radius: 20px;
        margin: 10px;
    }
    .table-bordered tbody tr td{
        font-size: 9px;
    }
    .buy{
        margin: 274px 122px 10px -23px;

    }
    .info{
        height: 484px;
    }
    .radio{
        margin: 2px 0px 0px 31px;
    }
    .Container{
        display: table; 
        height: 332px; 
    }
    .theme-showcase {
        margin: 34px;
    }
   
}


@media (max-width: 375px){
    .prodPaga{
        margin: 60% 0% 0% -2%;
        justify-content: flex-end;
    }
    .price{        
        margin: 86% 0% 0% -70%;
    justify-content: flex-end;
    }
    .info{
        height: 368px;
    }
    .row{
        max-width: 370px;
        margin-right: 28px;
        display: inline;
    }
    .btn {
        margin-top: 20px;
        border: none;
        box-shadow: none;
        padding: 10px 25px;
        background: transparent;
        color: #591e29;
        font-size: 12px;
        cursor: pointer;
        border: 1px solid #591e29;
        border-radius: 20px;
        margin: 10px;        
    }

    .table{
        font-size: 10px;
        
    }
    

    .table-bordered tbody tr td{
        font-size: 12px;
    }
    .buy{
        margin: 274px 98px 10px -23px;

    }
    .info{
        height: 484px;
    }
    .col-md-4 {
        text-align: -webkit-left;
        margin: 0px 0px 0px 0px;
    }
    .radio {
        margin: 2px 0px 0px 42px;
    }
    .table-bordered tbody tr td{
        font-size: 9px;
    }
    .table-bordered tbody tr td{
       
            font-size: 7px;
    }
    /* .container{
        display: table;
    } */
    .imgContato article{
        display: grid;
    }
}
@media (max-width: 320px){
    .prodPaga{
        padding-top: 368px;
    }
    .price{        
        margin: 113% 0% 0% -66%;
    justify-content: flex-end;
    }
    .info{
        height: 446px;
    }
    .imgBanner{
        height: 314px;
    }

    .thumbnail{
        display: block ;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fffcfd;
    border: 1px solid #591e29;
-webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    max-width: 1200px; 
    width: 270px;
    height: 400px;
    text-align: center;
    }
    /* .btnb {
        
        color: #0000;
        background-color: #591e29;
        border: 1px solid #fff;
        border-radius: 20px;
        margin-top: 30px;
      }
      .thumbnail:hover .btnb {
        
        color: #000;
        background-color: #591e29; 
         border: 1px solid #591e29;
        border-radius: 20px;
        margin-top: 30px;
    }    */
    .dropdown-link{
        background-color: transparent;
        color: #fff;
        padding: 1.2rem 2rem;
        line-height: 1;
        justify-content: center;
    }

    .info{
        height: 484px;
    }
    .buy {
        margin: 182px 75px 10px -23px;
    }
    .col-md-4 {
        text-align: -webkit-left;
        margin: 1px 1px 1px 1px;
    }
    .checkbox, .radio{
        margin: 2px 0px 0px 31px;
    }
    .table-bordered tbody tr td{
        font-size: 6px;
    }
    /* .container{
        display: flex;
    } */
    .imgContato{
        max-width: 298px;
        margin: 10px 91px 64px 66px;
    }
    .box-shadow-demoo{
        margin: -146px -14px 0px 9px;
    }
    .imgCon img {
        width: 332px;
        height: 215px;
        position: relative;
        text-align: center;
        align-content: center;
        align-items: center;
        justify-content: center;
        justify-items: center;
    }
}
  
  @import url('https://font.gooleapis.com/css?family=Poppins:200,300,400,500,600,700&display=swap');
  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      outline: none;
      font-family: 'Poppins', sans-serif;
  }
  
/* FIM ZOOM*/

.page-header {
    
    flex-direction: column;
    margin-top: 44px;
}
/*PAG DETALHES*/
.page-header h1{
    color: #591e29;
    font-family: "Roboto";
    font-size: .9em;
    font-style: normal;
    font-weight: 900;
    letter-spacing: 3.1px;
    
}
.page-header P{
    color: #591e29;
    font-family: "Roboto";
    font-size: 10px;
    margin: 16px 0;
}

.page-header h2{
    color: #591e29;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43;
    letter-spacing: 3.1px;
}
/* FIM ZOOM*/

.imgbannerestatico{
    text-align: center;
    /* width: 674px; */
    /* height: 222px; */
}

@media not all and (max-width:480px){
	.abrir-menu,
	.fechar-menu{
		display: none;
    }
    
    
}
@media (max-width:480px){
	
	body{
		font-size: 16px;
	}
	.topo{
		flex-direction: row;
    }
    .topo h1{
        height: 44px;
    }
	.topo nav{
        height: 0%;
        background: #591e29;
        max-width: 350px;
        width: 50%;
        position: fixed;
        z-index: 9999;
        top: 64px;
        right: -260px;
        transition: right 0.5s ease-out;

	}
	.menu-ativo
	.topo nav{
		right: 0px;

	}
	.topo nav ul{
		flex-direction: column;
		align-items: center;
	}

	
	.abrir-menu{
		background: url(../img/menu2.png) no-repeat;
        padding: 20px;
        size: 23px;
		display: block;
		border: 0;
		margin: -46px 320px 0 !important;
	}
	.fechar-menu{
		background: url(../img/fechar2.png) no-repeat;
		padding: 20px;
		display: block;
		border: 0;
		
	}

	
 /* submenu */
    .dropbtn {
        list-style: none;
        background: #591e29;
        color: #fff;
        text-align: center;
        padding: 0;
        margin: 0;
        text-decoration: none;
        border: none;
      }
      
      .dropdown {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        /* background-color: #f1f1f1; */
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px #591e29;
        z-index: 1;
        margin: 0 -440% 0 ;
      }
      
      .dropdown-content a {
        color: #fff;
        opacity: 0.9;
        background: #591e29;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      .imgbannerestatico{
       display: none;
        /* width: 674px; */
        /* height: 222px; */
    }

    .sobre div{
        display: block;
        padding: 0;
        margin: 39px 3%;
        max-width: 92%;
    }
    .sobreNos img{
        text-align: center !important;
    }
    .imgSobre{
        margin: 5% 21px !important
    }
    /* .box-shadow-demoo{ 
        margin: 5% 37px !important
    }
    .imgContato{
        display: block;
        padding: 0;
        margin: 39px 3%;
        max-width: 92%;
    } */
    .sobre p{
        max-width: 92%;
    }
    .box-shadow-demo {
        display: block !important  ;
        width: 600px;
        height: 672px !important;
        
        
        font-size:16px;
        padding: 36px 30px 0;
        width: 500px;
        height: 450px;
        
    
    }
    .joiasl{
        /* display: flex; */
        display: block !important;
    }

    /* .imgCon img {
        height: 333px;
        width: 338px;
    } */
} 


@media (max-width:280px){
    .table{
        font-size: 6px;
    }
    .container{
        width: 300px;
        
    height: 362px;

    }

}
/* fim submenu */
    @media (max-width:360px){
	
        body{
            font-size: 16px;
        }        
        .topo nav ul {
           width: 100%;
    
        }
        .menu-ativo
        .topo nav{
            right: 0px;
    
        }
        .topo nav ul{
            flex-direction: column;
            align-items: center;
        }
    
        
        .abrir-menu{
            background: url(../img/menu2.png) no-repeat;
            padding: 20px;
            size: 23px;
            display: block;
            border: 0;
            margin: -46px 338px 0;
        }
        .fechar-menu{
            background: url(../img/fechar2.png) no-repeat;
            padding: 20px;
            display: block;
            border: 0;
            
        }
	
        .sobre div {
            display: block;
            padding: 0;
            margin: 39px 3%;
            max-width: 99%;
        }
        .checkbox{
            margin: 2px 0px 0px 31px;
        }
        .col-sm-6 {
            width: 50%;
        }
        /* .container{
            margin: 10px;
            padding: 55px;
            height: 334px;
        } */
/* .imgContato{
    height: 350px;
} */
.theme-showcase {
    display: block;
}
    
}/* FIM max-width:480px */

/* COMEÇO DA ESTILIZACAO DO PAINEL DE CONTROLE */

.table-bordered td{
    background-color: transparent;
    color: black;
    border-top: 1px solid rgb(0, 0, 0);
}
.table-bordered tbody tr td{    
    border: 0px solid #fff;
    border-top: 1px solid #000;
    background: #fffcfd;
    
}
.alert-danger{
    color: #000;
    text-align: center;
    background-color: #ffff;
    border-color: #fff;
}
.btn-success:hover {
    color: #fff;
    background-color: #591e29;
    border-color: #591e29;
}
.alert-success {
    color: #591e29;
    background-color: #fff;
    border-color: #fff;
}
.col-md-12 {
    background-color: #fff;
    color: black;
}
/* FIM  DA ESTILIZACAO DO PAINEL DE CONTROLE */
/*   testando INICIO da stilizacao cliente dados*/
.table-bordered {
    border: 0px solid #fff;
}
.formDados{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    box-sizing: border-box;
    outline: none;
    font-family: 'Poppins', sans-serif;
}
.Containerr{
    
    position: relative;
    width: 1000px;
    padding: 60px;
    background: #fff;
    opacity: 0.9;
    
    margin-top: 10px;
    Margin: -27px;
}
.Containerr h3{
    text-align: center;
    margin: 35px;
    color: #591e29;
}
.input-fieldd{
    position: relative;
    height: 40px;
    width: 100%;
    margin: 0 0 35px 0;
    outline: none;
}
.input-fieldd [type="text"]{
    position: absolute;
    background: transparent;
    border: none;
    box-shadow: none;
    font-size: 16px;
     color: #591e29;
     width: 100%;
     outline: none;
}
.input-fieldd [type="number"]{
    position: absolute;
    background: transparent;
    border: none;
    box-shadow: none;
    font-size: 16px;
     color: #591e29;
     width: 100%;
     outline: none;
}
.input-fieldd [type="date"]{
    position: absolute;
    background: transparent;
    border: none;
    box-shadow: none;
    font-size: 16px;
     color: #591e29;
     width: 100%;
    
}
.input-fieldd [type="email"]{
    position: absolute;
    background: transparent;
    border: none;
    box-shadow: none;
    font-size: 16px;
     color: #591e29;
     width: 100%;
     outline: none;
}
.input-fieldd input[type="text"]:focus + label,
.input-fieldd input[type="text"]:valid + label

{
    transform: translateY(-35px);
    font-size: 14px;
    color: #591e29;
    /* background: #DED5D9; */
     padding: 2px 6px;
}
.input-fieldd input[type="number"]:focus + label,
.input-fieldd input[type="number"]:valid + label

{
    transform: translateY(-35px);
    font-size: 14px;
    color: #591e29;
    /* background: #DED5D9; */
     padding: 2px 6px;
}
.input-fieldd input[type="date"]:focus + label,
.input-fieldd input[type="date"]:valid + label

{
    transform: translateY(-35px);
    font-size: 14px;
    color: #591e29;
    /* background: #DED5D9; */
     padding: 2px 6px;
}
.input-fieldd input[type="email"]:focus + label,
.input-fieldd input[type="email"]:valid + label

{
    transform: translateY(-35px);
    font-size: 14px;
    color: #591e29;
    /* background: #DED5D9; */
     padding: 2px 6px;
}
.input-fieldd span{
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    background: #591e29;/* cor do nome,sobrenome etc */
    width: 100%;
    height: 2PX;
}
.input-fieldd span:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #591e29;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;


}
.input-fieldd input[type="text"]:focus ~ span:before,
.input-fieldd input[type="text"]:valid ~ span:before
{
    
    transform: scaleX(1);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
}
.input-fieldd input[type="number"]:focus ~ span:before,
.input-fieldd input[type="number"]:valid ~ span:before
{
    
    transform: scaleX(1);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
}
.input-fieldd input[type="date"]:focus ~ span:before,
.input-fieldd input[type="date"]:valid ~ span:before
{
    
    transform: scaleX(1);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
}
.input-fieldd input[type="email"]:focus ~ span:before,
.input-fieldd input[type="email"]:valid ~ span:before
{
    
    transform: scaleX(1);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
}
.input-fieldd label{
    position: absolute;
    top: 0;    
    left: 0;
    color: #8C7779;
    pointer-events: none;
    transition: 0.5s;
}
.table{
    
      
        max-width: 1150px;
    display: revert;
   
    
}
.tablee{
    margin: 0px 90px;
      
    max-width: 550px;
display: revert;
}
/* .row{
    max-width: 85px;
    display: revert;

} */
/* .col-md-2{
    margin: 0px 0px 0px -297px;
}
.col-md-5{
    align-content: center;
text-align: -webkit-center;
} */


/* .col-md-44{
   margin: 2px 0px 0px 159px;
    
} */
.radio{
    margin: 2px 0px 0px 70px;
    
}
.col-md-11 {
    margin: 0px 0px 0px -45px;
}
/* .form-control{
    margin: 0px 158px;
    max-width: 277px;
} */
 
/*FIM  da stilizacao cliente dados*/ 




    /* font-family: "Martel Sans",sans-serif; */

    /* display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border-width: 1px solid #fff;
    
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; */
    .form-control {
        display: block;
        width: 100%;
         height: 34px; 
        padding: 6px 12px; 
        font-size: 14px;
        line-height: 1.42857143;
        color: #000;
        background-color: transparent;
        background-image: none;
        border: 0px solid #591e29;
        border-width: 0 0 1px;
        -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
        box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
    .row label{
        color: #591e29;
        margin: 10px;
        
    }
    .form-control:focus {
        border-color: #591e29;
        outline: 0;
        -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075), 0 0 0px rgba(102,175,233,.6);
        box-shadow: inset 0 0px 0px rgba(0,0,0,.075), 0 0 0px rgba(102,175,233,.6);
    }
.row{
    
}


.search__field{
	background: url(../img/lupa.png) no-repeat center right;
	padding: 5px;
	border:none;
	width:20px;
	-webkit-transition:all 0.5s linear;
    transition:all 0.5s linear;
    
}
.search__field:focus{
	width:200px;
	border-bottom: solid 1px #ddd;
        outline:none;
        font-size: 16px;
     color: #fff; /* cor da fonte onde o usuario vai digitar */
} 
.glyphicon-menu-hamburger {
    /* content: "\e236";   hamburguer da tabela pedidos*/
}


.row{
    /* margin-right: 1px;
    margin-left: 1px; */
    max-width: 1000px;
    display: inline;

}



.item {
	margin: 5px;
	
	text-align: center;
	font-size: 1.5em;
}

.containerrr {
	max-width: 400px;
	margin: 0 auto;
	
}
.flex {
	display: flex;
}


/* estilizacao do adm */
.btnp{
    display: table;
    margin-top: 20px;
    border: none;
    box-shadow: none;
    padding: 10px 25px;
    background: transparent;
    color: #591e29;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #591e29;
    border-radius: 20px;
    margin: 10px;
}
.btnss{
    padding: 5px 23px;
    background: transparent;
    color: #591e29;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid rgb(71, 41, 41);
    border-radius: 20px;

}
.btnw{
    padding: 5px 13px;
    background: transparent;
    color: #591e29;
    font-size: 11px;
    cursor: pointer;
    border: 1px solid rgb(71, 41, 41);
    border-radius: 20px;

}
.btni{
    padding: 5px 13px;
    background: transparent;
    color: #591e29;
    font-size: 11px;
    cursor: pointer;
    border: 1px solid rgb(71, 41, 41);
    border-radius: 20px;

}

.btna{
    border: none;
    box-shadow: none;
    background: transparent;
    color: #591e29;
    cursor: pointer;
    /* border: 1px solid #591e29; */
    border-radius: 20px;
    font-size: 16px;
}



/* fim estilizacao do adm */

/*instagram*/
.user{
    background: url(../img/user.png) no-repeat center right;
}





		